/*Copyright Code written by Suleyman Mulayim*/

body {
    background: url(/images/depositphotos_67982979-stock-illustration-horizontally-seamless-game-background.jpg);
    background-size: 1535px;
}

*{
    margin: 0;
    padding: 0;
}

h6{
    font-size: 10px;
    text-align: center; 
}

h2{
    font-size: 10px;
    text-align: center; 
}
.gridDisplay {
    display: grid;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    grid-template-columns: 75px 75px 75px 75px 75px 75px;
    gap: 1.5px;
    border-radius: 20px;
    margin-top: 0px;
    margin-left: 530px;
    margin-bottom: 0px;
    width: 455px;
    height: 455px;
    border-radius: 5px;
   
}

.default{
    position: absolute;
}

#header {
    font-size: xx-large;
    text-align: center;
    margin: 50px;
}

#firstbox {
    height: 70px;
    width: 70px;
    
  
}
button{
border-radius: 5px;
}

button > img {
    height: 70px;
    width: 70px;
 
  
}

.hideImg{
    display: none;
}

.boxes {
    width: 75px;
    height: 75px;
   
}

.footer {
    font-size: medium;
    text-align: center;
    font-style: italic;
    color: rgb(231, 17, 17);
    
	
}
.card {
	background: #fc4;
	border-radius: 0.5em;
	height: 75px;
	width: 75px;
    border-radius: 5px;
    
}

#paragraph{
    font-size: medium;
    text-align: center;
    font-style: italic;
    color: rgb(231, 17, 17);
}
#demo{
    text-align: right;
    font-size: 15px; 
}
#demo:hover{
    transition: 0.1s ease-in-out 0.1s;
    color: rgb(207, 93, 0);
    font-weight: bolder;
    

}
.match{
    border-radius: 5px;
	background: #e7520d;

}
.notmatch {
	
	background: #ece1e4;
}
